@media (max-width: 991px) {
  .close-button {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    transition: background-color 0.3s ease;
  }

  .close-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: rotate(45deg);
  }

  .close-icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: rotate(-45deg);
  }
  .form__block {
    background-color: #262626;
    padding: 46px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 35px 0;
  }
  .form__input {
    background-color: inherit;
    border: none;
    border-bottom: 3px solid var(--secondary-color);
    padding: 14px 0;
    width: 100%;
    color: var(--primary-color);
  }
  .form__input::placeholder {
    font-size: 16px;
  }

  .form__select {
    background-color: inherit;
    border: none;
    border-bottom: 3px solid var(--secondary-color);
    color: var(--primary-color);
    padding: 14px 0;
    width: 100%;
    font-size: 18px;
  }
  .form__option {
    background-color: #262626;
  }
  .rules__text {
    display: flex;
    gap: 6px;
    align-items: start;
  }

  .rules__span {
    font-size: 10px;
    line-height: 15px;
  }
  input[type="file"]::before {
    content: "Загрузить файл";
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 10px;
  }
  input::-webkit-file-upload-button {
    display: none;
  }
  .form__label {
    font-size: 18px;
    font-weight: 700;
  }
  .confirmation__block {
    gap: 50px;
  }

  .custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
  }

  .custom-checkbox .black-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #d9d9d933;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
  }

  .custom-checkbox .black-checkbox:checked ~ .checkmark {
    background-color: #d9d9d933;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .custom-checkbox .black-checkbox:checked ~ .checkmark:after {
    display: block;
  }

  .custom-checkbox .checkmark:after {
    left: 4px;
    top: 0;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
@media (min-width: 500px) {
  .form__block {
    padding: 46px 56px;
  }
}
