@media (max-width: 991px) {
  .success {
    background-image: linear-gradient(
      to bottom,
      #212121,
      #243025 40%,
      #2f4130 60%,
      #212121
    );
    padding: 46px 20px;
  }
  .success__block {
    background-image: url("../img/team.webp");
    background-size: cover;
    background-size: 112% 108%;
    background-position: 54% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .success__item-title {
    line-height: 22px;
    font-size: 16px;
  }
  .success__title {
    line-height: 24px;
    text-transform: uppercase;
  }
  .success__text {
    margin-bottom: 140px;
  }
}

@media (min-width: 600px) {
    .success__block {
        background-size: 64% 100%;
        background-position: center;
        background-repeat: no-repeat ;
    }
}
